html, body, main {
	margin: 0;
	font-family: 'Handlee', cursive;
	background-color: #D0F4EA;
}

.card {
	display: block;
	max-width: 800px;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #B1CC74;
	padding: 1rem 2rem;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	font-style: italic;
	opacity: 1;
}

.card {
	transition: opacity 0.5s ease;
}

.card.opacity {
	opacity: 0;
}

.card.hidden {
	display: none;
}
.card.card-opened.opacity {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.card-closed {
	text-align: center;
	max-height: 400px;
	height: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25vw;
	margin-bottom: 12.5vw;
}

.card-opened {
	margin-top: 12.5vw;
	margin-bottom: 12.5vw;
	opacity: 0;
}

.text {
	text-align: center;
}

.card-closed > .middle-text {
	font-size: 2rem;
	font-weight: bold;
}
.card-closed > .middle-text > .kleine-tekst {
	font-size: 1rem;
}